.c-footer
  .o-container
    .c-footer__content
      .c-footer__info
        a(href="index.html"): img(src="images/logo-white.svg", alt="logo").c-footer__brand
        nav
          ul.c-menu.c-menu--footer
            li.c-menu__item
              img(src="images/icon-phone.svg", alt="icon phone")
              p.c-menu--footer__text Phone: +1-543-123-4567

            li.c-menu__item
              img(src="images/icon-email.svg", alt="icon email")
              p.c-menu--footer__text example@fylo.com
      
      nav
        ul.c-menu.c-menu--list
          li.c-menu__item: a(href="#!").c-menu__link About Us
          li.c-menu__item: a(href="#!").c-menu__link Jobs
          li.c-menu__item: a(href="#!").c-menu__link Press
          li.c-menu__item: a(href="#!").c-menu__link Blog

      nav
        ul.c-menu.c-menu--list
          li.c-menu__item: a(href="#!").c-menu__link Contact Us
          li.c-menu__item: a(href="#!").c-menu__link Terms
          li.c-menu__item: a(href="#!").c-menu__link Privacy

      nav
        ul.c-menu.c-menu--social
          li.c-menu__item
            a(href="#!").c-menu__link: i.fab.fa-facebook-f
          li.c-menu__item
            a(href="#!").c-menu__link: i.fab.fa-twitter
          li.c-menu__item
            a(href="#!").c-menu__link: i.fab.fa-instagram
            
    p.attribution Challenge by 
      a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor.
      | Coded by 
      a(href="https://github.com/Devcrowmaster") Alexander