header
  .o-container.main-navbar
    .brand
      a(href="index.html")
        img(src="images/logo.svg", alt="logo").brand__logo
    nav
      ul.c-menu.c-menu--main
        li.c-menu__item: a(href="#!").c-menu__link Features
        li.c-menu__item: a(href="#!").c-menu__link Team
        li.c-menu__item: a(href="#!").c-menu__link Sign In

  include ../block/intro