.o-container
  .c-intro
    .c-intro__image
      img(src="images/illustration-1.svg", alt="hero")
    .c-intro__content
      h1.heading--primary All your files in one secure location, accessible anywhere.
      p.c-intro__description Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
      .c-intro__group
        input#email(type="email", name="email", placeholder="Enter your email...").c-intro__email
        .c-intro__cta
          a(href="#!").c-btn.c-btn--large.c-btn--main Get Started
