.c-newsletter
  .o-container
    .c-newsletter__content
      .c-newsletter__info
        h2.c-newsletter__title Get early access today
        p.c-newsletter__text It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
      .c-newsletter__group
        input#email-newsletter(type="email", name="email",placeholder="email@example.com").c-newsletter__email
        .c-newsletter__cta
          a(href="#!").c-btn.c-btn--large.c-btn--main Get Started For Free