.stay-productive
  .o-container
    .stay-productive__content
      img(src="images/illustration-2.svg", alt="stay productive")
      .stay-productive__info
        h2.heading--secondary Stay productive, wherever you are
        p.stay-productive__text Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
        p.stay-productive__text Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required!
        .stay-productive__cta
          a(href="#!").stay-productive__work See how Fylo works
          img(src="images/icon-arrow.svg", alt="arrow")

        include ../block/testimonial