figure.c-testimonial
  blockquote.c-testimonial__text Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
  footer.c-testimonial__info
    .c-testimonial__img: img(src="images/avatar-testimonial.jpg", alt="avatar")
    .c-testimonial__data
      cite.c-testimonial__author Kyle Burton
      cite.c-testimonial__company Founder & CEO, Huddle
